<span id="gameId">643c8c139f46065d4f18ebb3</span>
<span id="yourUserName">peat</span>

<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
</script>

<button class="open-button" *ngIf="chatIsVisible" (click)="openForm()">Chat</button>

<div class="chat-popup" id="myForm" *ngIf="!chatIsVisible">
  <form style="border: inset;" #chatMessage="ngForm" action="" class="form-container" (ngSubmit)="formSubmit(chatMessage.value)">
    <h1>Chat</h1>
    <label for="msg"><b>Message</b></label>
    <div class="message-container" #scrollMe>
      <ng-container *ngFor="let message of messages">
        <div class="message">
          <span class="playerUserName">{{ message.playerUserName }}: </span>
          <img *ngIf="message.imageFile !== 'NA'" [src]="'path/to/images/' + message.imageFile" />
          <p *ngIf="message.imageFile === 'NA'">{{ message.note }}</p>
        </div>
      </ng-container>
    </div>
       
      <button class="image-button" (click)="sendMessage('image1.jpg')">
        <img src="path/to/image1.jpg" alt="image1" />
      </button>
      
      <button class="image-button" (click)="sendMessage('image2.jpg')">
        <img src="path/to/image2.jpg" alt="image2" />
      </button>
      
      <button class="image-button" (click)="sendMessage('image3.jpg')">
        <img src="path/to/image3.jpg" alt="image3" />
      </button>
      <input style="width: 100%; height: 50px;" #messageInput placeholder="Type message..." name="input" ngModel/>

      <!-- <button (click)="sendTextMessage()" class="btn">Send</button> -->
      <button type="button" class="btn cancel" name="chatMe" (click)="closeForm()">{{CloseChat?"Close":"Close"}}</button>
    </form>
  </div> 
