<div class="section">
    <div class="container">
      <div class="content">
        <h1 class="title">Ready to set your ships?</h1>
        <hr>
  
        <!-- loops through the boards array and displays the player and board tiles -->
        <div class="columns">
            <table class="is-bordered">
              <tr *ngFor="let row of board.tiles; let j = index">
                <td *ngFor="let col of row; let k = index"
                [style.background-color] = "col.ship ? 'blue' : 'transparent'"
                class="battleship-tile" data-toggle="modal" data-target="#shipPicker">
                <!-- Modal -->
                <div class="modal fade" id="shipPicker" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form #shipForm ="ngForm" (ngSubmit)="placeShip($event)">
                      <div class="modal-header">
                        <h5 class="modal-title" id="shipPickerLabel">Choose your ship!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="list-group" *ngFor="let ship of remainingShips">
                          <li class="ship-type list-group-item list-group-item-action" id="t{{j}}{{k}}{{ship.size}}">
                          {{ship.type}} ({{ship.size}} tiles)
                            <img src = "{{ship.imgsrc}}" />
                          </li>
                        </div>
                        <br>
                        <div class="direction-modal">
                          Direction of Ship: 
                            <div class="input-group-text">
                            <div><input type="radio" aria-label="Direction" id="l"> Left </div> 
                            <div><input type="radio" aria-label="Direction" id="r"> Right </div>
                            <div><input type="radio" aria-label="Direction" id="u"> Up </div>
                            <div><input type="radio" aria-label="Direction" id="d"> Down </div>
                          </div>
                        </div>
                        </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-primary">Save changes</button>
                      </div>
                    </form>
                  </div>
                    </div>
                  </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <button> Start Game! </button>
      <!-- BUTTON DISABLED UNTIL ALL SHIPS SET, SUBMITS FORM AND NAVIGATES TO GAME PAGE. OUTLINED STYLE-->
    </div>
  </div>
    