<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity">
        <h1 class="w3-xlarge">Tutorials</h1>
    </header>

    <div class="w3-center">

        <div class="box">
        <h2>Getting Started</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IK1t9PmOh50" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="box">
        <h2>How to Play</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iQki5n5UyNY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="box">
        <h2>How to Chat</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3ek7EoOkpI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="box">
        <h2>Loading a Save</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8higVJeTDdQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

      </div>
